slstatus
slstatus.o
components/battery.o
components/cpu.o
components/datetime.o
components/disk.o
components/entropy.o
components/hostname.o
components/ip.o
components/kernel_release.o
components/keyboard_indicators.o
components/keymap.o
components/load_avg.o
components/netspeeds.o
components/num_files.o
components/ram.o
components/run_command.o
components/separator.o
components/swap.o
components/temperature.o
components/uptime.o
components/user.o
components/volume.o
components/wifi.o
util.o

